body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #aaf0f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

header .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

header nav {
    display: flex;
    gap: 15px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero {
    background-image: url(https://media.discordapp.net/attachments/1159769720959025152/1315196296050642974/Untitled_design.png?ex=677f6600&is=677e1480&hm=2f21b4d23f2fab0b4d2b1b9a4dc48f42edec24c307ca2e076ece1f4c50620c44&=&format=webp&quality=lossless&width=1100&height=618); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    max-width: 1000px;
}

.hero p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
}

.content {
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%; 
    background-color: #fdfdfd;
    color: #333;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #111;
}

.content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content ul {
    padding-left: 20px;
}

.content ul li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }
}
